html
{
	scroll-behavior: smooth;
}

body
{
	font-family:Centaur;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:black;
	color:white;
	width:100%;
}
header
{
	background-color:#7510F7;
	color:white;
	padding: auto;
	display: flex;
	/* display: grid;
	grid-template-columns: 1fr 3fr 1fr; */
}
div
{
	font-family:Centaur;
	font-size:25px;
}
p
{
	font-family:Centaur;
	font-size:25px;
	width:100%;
}
h1,h2,h3,h4,h5,h6
{
	font-family:Centaur;
	color:#7510F7;
	text-align:center;
	text-decoration:no underline;
	width:100%;
}
h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover
{
	color:white;
	width:100%;
}
a:link
{
	font-size:25px;
	text-decoration:none;
	color:white;
	width:100%;
}
a:visited
{
	text-decoration:none;
	color:white;
	width:100%;
}
a:hover
{
	text-decoration: none;
	color: yellow;
	width:100%;
}
a:active
{
	text-decoration: none;
	color:violet;
	width:100%;
}
.rr:hover
{
	color:yellow;
	width:100%;
}
.hh:hover
{
	color:powderblue;
	width:100%;
}
button
{
	border-radius:25px;
	background-color:#7510F7;
	font-size:25px;
	font-family:Centaur;
	border:3px solid #ffffff;
	padding:6px 6px;
	color:white;
	
}
button:hover
{
	font-size:25px;
	font-family:Centaur;
	border:3px solid white;
	padding:6px 6px;
	color:#7510F7;
	background-color:white;
}
img.cs
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
